<app-menu></app-menu>
<div class="container">
  <h1 class="h1">{{titulo}}</h1>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"><p class="mat-h3 ">Nombre de la encuesta</p></th>
        <th scope="col"><p class="mat-h3">Fecha de Inicio</p></th>
        <th scope="col"><p class="mat-h3">Fecha Fin</p></th>
        <th scope="col"><p class="mat-h3">Hoy</p></th>
        <th scope="col"><p class="mat-h3">Opciones</p></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let surveyparticipant of surveyparticipants">
        <td class="text-center"><p class="mat-body">{{surveyparticipant.survey.surveyName}}</p></td>
        <td class="text-center"><p>{{surveyparticipant.survey.surveyStartDate| date:"EEEE dd, MMMM yyyy"}}</p></td>
        <td class="text-center"><p>{{surveyparticipant.survey.surveyExpirationDate| date:"EEEE dd, MMMM yyyy"}}</p></td>
        <td class="text-center"><p>{{today| date:"EEEE dd, MMMM yyyy hh:mm:ss a"}}</p></td>
        <td class="text-center"><button class="btn btn-outline-primary" routerLink="/survey/new-answer/{{surveyparticipant.survey.surveyName}}"><i class="far fa-play-circle"></i> Iniciar</button></td>
      </tr>
    </tbody>
  </table>
</div>
