<app-menu></app-menu>

<div class="container bg-white">



<div class="container">
  <div class="text-center">
    <h1 class="display-4">{{survey?.surveyName}}</h1>
    <p class="lead">{{survey?.surveyDescription}}</p>
  </div>
</div>

<div class="container">

      <h5 attr.aria-label="Product details for {{survey?.surveyName}}" id="sq_100_ariaTitle">


      <span>Product details for {{survey?.surveyName}}</span>

      </h5>
      <div class="small">
      <span ></span>

      </div>

        <div >

   <fieldset>
        <legend aria-label="Please indicate if you agree or disagree with the following statements"></legend>
        <table  class="table">
              <thead>
                  <tr>
                      <td></td>

                      <th>

      <span >Strongly Disagree</span>
                      </th>
                      <th >
      <span>Disagree</span>
                      </th>
                      <th>
      <span >Neutral</span>
                      </th>
                      <th >
      <span>Agree</span>
                      </th>
                      <th >
      <span>Strongly Agree</span>
                      </th>
                  </tr>
              </thead>
            <tbody>
                <tr >
                    <td >

      <span >Product is affordable</span>
                    </td>
                    <td  headers="Strongly Disagree">
                        <label >
                            <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="1" id="sq_100i_affordable_0">
                            <span style="display: none" >Strongly Disagree</span>
                        </label>
                    </td>

                    <td headers="Disagree">
                        <label>
                            <input type="radio" name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="2" id="sq_100i_affordable_1">
                            <span style="display: none" >Disagree</span>
                        </label>
                    </td>
                    <td headers="Neutral">
                        <label  >
                            <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="3" id="sq_100i_affordable_2">
                            <span style="display: none" >Neutral</span>
                        </label>
                    </td>
                    <td  headers="Agree">
                        <label  >
                            <input type="radio" name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="4" id="sq_100i_affordable_3">
                            <span style="display: none" >Agree</span>
                        </label>
                    </td>
                    <td  headers="Strongly Agree">
                        <label  >
                            <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="5" id="sq_100i_affordable_4">
                            <span style="display: none" >Strongly Agree</span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
  </div>


  <div >

<fieldset>
  <legend aria-label="Please indicate if you agree or disagree with the following statements"></legend>
  <table  class="table">
        <thead>
            <tr>
                <td></td>

                <th>

<span >Strongly Disagree</span>
                </th>
                <th >
<span>Disagree</span>
                </th>
                <th>
<span >Neutral</span>
                </th>
                <th >
<span>Agree</span>
                </th>
                <th >
<span>Strongly Agree</span>
                </th>
            </tr>
        </thead>
      <tbody>
          <tr >
              <td >

<span >Product is affordable</span>
              </td>
              <td  headers="Strongly Disagree">
                  <label >
                      <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="1" id="sq_100i_affordable_0">
                      <span style="display: none" >Strongly Disagree</span>
                  </label>
              </td>

              <td headers="Disagree">
                  <label>
                      <input type="radio" name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="2" id="sq_100i_affordable_1">
                      <span style="display: none" >Disagree</span>
                  </label>
              </td>
              <td headers="Neutral">
                  <label  >
                      <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="3" id="sq_100i_affordable_2">
                      <span style="display: none" >Neutral</span>
                  </label>
              </td>
              <td  headers="Agree">
                  <label  >
                      <input type="radio" name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="4" id="sq_100i_affordable_3">
                      <span style="display: none" >Agree</span>
                  </label>
              </td>
              <td  headers="Strongly Agree">
                  <label  >
                      <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="5" id="sq_100i_affordable_4">
                      <span style="display: none" >Strongly Agree</span>
                  </label>
              </td>
          </tr>
      </tbody>
  </table>
</fieldset>
</div>



    </div>
</div>
