<app-menu></app-menu>

<div class="container bg-white">

<div class="container">
  <div class="text-center">
    <h1 class="display-4">{{survey?.surveyName}}</h1>

    <p class="lead">{{survey?.surveyDescription}}</p>
  </div>
</div>

<pre>{{applicationg?.value | json }}</pre>


<!--


















<form [formGroup]="segmentationitemsg" (ngSubmit)="onSubmit(segmentationitemsg.value)">
<div *ngFor="let formGroup of segmentationitemsg.controls['segmentationitems']['controls'];let i = index;">
<div [formGroup]="formGroup" >
     <div>
       <div class="form-group">
         <div>

         <mat-form-field   appearance="fill">
           <mat-label>{{survey.segmentations[i].segmentationName}}</mat-label>

             <mat-select formControlName="segmentationitemId">
               <mat-option  *ngFor="let item of survey.segmentations[i].segmentationitems" [value]="item.segmentationitemId">
                 {{ item.segmentationitemName}}
               </mat-option>
             </mat-select>
       </mat-form-field>
       </div>
       </div>
     </div>
     <small class="form-text text-danger" *ngIf="segmentationitemsg.controls['segmentationitems']['controls'][0].errors">
       {{segmentationitemsg.controls['segmentationitems']['controls'][0].errors.range.message}}
     </small>
</div>
</div>
  <button [disabled]="!segmentationitemsg.valid " type="submit" class="btn btn-primary ">Save</button>
</form>










<form  [formGroup]="segmentationitemsg">
  <div class="col-12"  formArrayName="segmentastionitems">
    <div >
      hi
    </div>
</div>
</form>


<form  [formGroup]="segmentationitemsg">





  <mat-form-field   appearance="fill"  *ngFor="let segmentation of survey.segmentations">
<mat-label>{{segmentation.segmentationName}}</mat-label>
<mat-select formControlName="segmentationitemName">
  <mat-option *ngFor="let item of segmentation.segmentationitems" [value]="item.segmentationitemName">
    {{item.segmentationitemName}}
  </mat-option>
</mat-select>
</mat-form-field>

</form>


<pre>{{segmentationitemsg?.value | json }}</pre>
QUESTION:  -->




<button class="btn btn-primary">Submit</button>






<!--Using ng-option and for loop-->
<button type="button" (click)="que()" class="btn btn-primary">asdasd</button>

<!--Using items input-->

<div class="container">

      <h5 attr.aria-label="Product details for {{survey?.surveyName}}" id="sq_100_ariaTitle">


      <span>Product details for {{survey?.surveyName}}</span>

      </h5>
      <div class="small">
      <span ></span>

      </div>

        <div >

   <fieldset>
        <legend aria-label="Please indicate if you agree or disagree with the following statements"></legend>
        <table  class="table">
              <thead>
                  <tr>
                      <td></td>

                      <th>

      <span >Strongly Disagree</span>
                      </th>
                      <th >
      <span>Disagree</span>
                      </th>
                      <th>
      <span >Neutral</span>
                      </th>
                      <th >
      <span>Agree</span>
                      </th>
                      <th >
      <span>Strongly Agree</span>
                      </th>
                  </tr>
              </thead>
            <tbody>
                <tr >
                    <td >

      <span >Product is affordable</span>
                    </td>
                    <td  headers="Strongly Disagree">
                        <label >
                            <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="1" id="sq_100i_affordable_0">
                            <span style="display: none" >Strongly Disagree</span>
                        </label>
                    </td>

                    <td headers="Disagree">
                        <label>
                            <input type="radio" name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="2" id="sq_100i_affordable_1">
                            <span style="display: none" >Disagree</span>
                        </label>
                    </td>
                    <td headers="Neutral">
                        <label  >
                            <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="3" id="sq_100i_affordable_2">
                            <span style="display: none" >Neutral</span>
                        </label>
                    </td>
                    <td  headers="Agree">
                        <label  >
                            <input type="radio" name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="4" id="sq_100i_affordable_3">
                            <span style="display: none" >Agree</span>
                        </label>
                    </td>
                    <td  headers="Strongly Agree">
                        <label  >
                            <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="5" id="sq_100i_affordable_4">
                            <span style="display: none" >Strongly Agree</span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
  </div>


  <div >

<fieldset>
  <legend aria-label="Please indicate if you agree or disagree with the following statements"></legend>
  <table  class="table">
        <thead>
            <tr>
                <td></td>

                <th>

<span >Strongly Disagree</span>
                </th>
                <th >
<span>Disagree</span>
                </th>
                <th>
<span >Neutral</span>
                </th>
                <th >
<span>Agree</span>
                </th>
                <th >
<span>Strongly Agree</span>
                </th>
            </tr>
        </thead>
      <tbody>
          <tr >
              <td >

<span >Product is affordable</span>
              </td>
              <td  headers="Strongly Disagree">
                  <label >
                      <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="1" id="sq_100i_affordable_0">
                      <span style="display: none" >Strongly Disagree</span>
                  </label>
              </td>

              <td headers="Disagree">
                  <label>
                      <input type="radio" name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="2" id="sq_100i_affordable_1">
                      <span style="display: none" >Disagree</span>
                  </label>
              </td>
              <td headers="Neutral">
                  <label  >
                      <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="3" id="sq_100i_affordable_2">
                      <span style="display: none" >Neutral</span>
                  </label>
              </td>
              <td  headers="Agree">
                  <label  >
                      <input type="radio" name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="4" id="sq_100i_affordable_3">
                      <span style="display: none" >Agree</span>
                  </label>
              </td>
              <td  headers="Strongly Agree">
                  <label  >
                      <input type="radio"  name="sq_100_affordable" aria-label="Please indicate if you agree or disagree with the following statements" value="5" id="sq_100i_affordable_4">
                      <span style="display: none" >Strongly Agree</span>
                  </label>
              </td>
          </tr>
      </tbody>
  </table>
</fieldset>
</div>



    </div>
</div>
