<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 py-1">
  <a class="navbar-brand mat-h2" href="#">ET-Servicios</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link mat-h3" [routerLink]="['/manage/users']">
          <span class="material-icons">
          recent_actors
          </span>
          Usuarios
        </a>
      </li>

      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link mat-h3" [routerLink]="['/survey/lista']">
          <span class="material-icons align-middle">
            assignment
          </span>
          Encuestas
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link mat-h3" [routerLink]="['/participaciones/lista']">
          <span class="material-icons align-middle">
            assignment
          </span>
          Mis Participaciones
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link mat-h3" routerLink="/login">
          <fa-icon [icon]="faDoorOpen"></fa-icon> Iniciar Sesión
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link mat-h3">
          <span class="material-icons align-middle">
            meeting_room
          </span>
 Cerrar Sesión
        </a>
      </li>

    </ul>
  </div>
</nav>
